<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-hover">
                    {% for item in items %}
                    <tr class="{{'danger' if item['client'] == 'error' else ''}}">
                        <td style="white-space: nowrap;">{{item["localDate"]}}</td>
                        <td>{{item['client']}}</td>
                        <td>
                            {% if item['client'] == 'error' %}
                            <pre>
                                <code>{{item['message']}}</code>
                            </pre>
                            {% else %}
                            {{item['message']}}
                            {% end %}
                        </td>
                    </tr>
                    {% end %}
                </table>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/static/jquery/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/static/angular/angular.min.js"></script>
    <script type="text/javascript" src="/static/angular/angular-resource.min.js"></script>
    
    <script type="text/javascript" src="/static/app/settings.js"></script>
</body>
</html>